@mixin vg($gap) {
	--vg: #{$gap};
	margin-top: calc(var(--vg) * -1);
	> * {
		margin-top: var(--vg);
	}
}
@mixin box-paddings($vg, $hg: $vg) {
	--vp: #{$vg};
	--hp: #{$hg};
	padding: var(--vp) var(--hp);
}

:root {
	// margins
	--section-margin: 100px;
	--section-padding: 100px;
	--heading-margin: 40px;

	// colors
	--bgc: #fff;
	--bgc-reverse: #000;

	// font defaults
	--font-primary: #000000;
	--font-secondary: #1C1C1C;
	--font-size: 18px;
	--font-height: 1.4em;
}
body {
	background-color: var(--bgc);
}
.section {
	position: relative;
}
.banner {
	position: relative;
}
.header {
	font-size: 2rem;
	line-height: normal;
	margin-bottom: var(--heading-margin);
}
.container-grid {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(12);
	> .item-12 {
		grid-column: span 12;
	}
	> .item-6 {
		grid-column: span 6;
	}
	> .item-4 {
		grid-column: span 4;
	}
	> .item-3 {
		grid-column: span 3;
	}
	> .item-2 {
		grid-column: span 2;
	}
}
.items-container > *:last-child {
	margin-bottom: 0;
}
ul {
	margin: 0;
	padding: 0;
	margin-bottom: 1em;
	list-style: none;
	li {
		margin-bottom: 1em;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 1em;
}
.btn {
	--btn-color: #ff0000;
	--font-color: white;
	min-width: 200px;
	max-width: 100%;
	display: inline-block;
	padding: 5px 10px;
	font-size: 1rem;
	line-height: normal;
	text-align: center;
	background-color: var(--btn-color);
	border: 1px solid var(--btn-color);
	transition: .3s;
	color: var(--font-color);
	:hover {
		text-decoration: none;
		color: var(--font-color);
		opacity: .8;
	}
	:focus {
		box-shadow: none;
	}
	.btn1 {
		--btn-color: #00ff00;
	}
}