<div class="form-popup" style="display: none;">
	<div class="form-popup__content">
		<div class="form-popup__close"></div>
		<div class="form-popup__title">Заголовок акции</div>
		<form class="form-popup__form">
			<div class="form-popup__form__item">
				<input type="text" name="name" placeholder="Имя*" required="required" class="form-popup__form__input default-input">
			</div>
			<div class="form-popup__form__item">
				<input type="phone" name="phone" placeholder="Телефон*" required="required" class="form-popup__form__input default-input phone-mask">
			</div>
			<div class="form-popup__form__item--submit">
				<div class="form-popup__form__agreement">
					<label class="form-popup__form__checkbox custom-checkbox">
						<input type="checkbox" class="custom-checkbox__input">
						<span class="custom-checkbox__checkbox"></span>
					</label>
					<div class="form-popup__form__agreement__text">
						Я согласен на <a href="#" class="form-popup__form__agreement__link">обработку персональных данных</a>
					</div>
				</div>
				<input type="submit" class="btn form-popup__form__submit" value="отправить">
			</div>
		</form>
	</div>
</div>