// default style START
:root {
	// margins
	--section-margin: 100px;
	--section-padding: 100px;
	--heading-margin: 40px;

	// colors
	--color1: white;

	// font defaults
	--color-primary: #141414;
	--color-secondary: #585858;
body {
	margin: 0;
	font-size: 18px;
	line-height: normal;
	color: var(--color-secondary);
}
img, source {
	max-width: 100%;
	object-fit: contain;
}
p {
	margin: 0;
	margin-bottom: 1em;
}
ul {
	margin: 0;
	padding: 0;
	margin-bottom: 1em;
	list-style: none;
	li {
		margin-bottom: 1em;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 1em;
}
.section {
	margin-top: var(--section-margin);
	margin-bottom: var(--section-margin);
	position: relative;
}
.banner {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
	position: relative;
	background-size: cover;
	background-position: center;
}
.mt0 {
	margin-top: 0;
}
.heading {
	position: relative;
	color: var(--color-primary);
	font-size: 2rem;
	line-height: normal;
	margin-bottom: var(--heading-margin);
}
.items-container :last-child {
	margin-bottom: 0;
}
.btn {
	max-width: 100%;
	display: inline-block;
	padding: 15px;
	text-align: center;
	transition: .3s;
	&:hover {
		text-decoration: none;
		opacity: .8;
	}
	&:focus {
		box-shadow: none;
	}
}
.default-input {
}
.custom-checkbox {
	position: relative;
	&__input {
		display: none;
	}
	&__checkbox {
		position: relative;
		width: 20px;
		height: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: white;
		border: 1px solid black;
		&::after {
			content: '';
			position: absolute;
			display: none;
			width: 4px;
			height: 10px;
			border: 1px solid black;
			border-top: none;
			transition: .3s;
			border-left: none;
			transform: scale(0);
		}
	}
	&__checkbox-input:checked ~ &__checkbox::after {
		display: block;
		transform: scale(1) rotate(45deg);
	}
}
// default style END