// default style START
:root {
	// margins
	--section-margin: 100px;
	--section-padding: 100px;
	--heading-margin: 40px;

	// colors
	--color1: white;

	// font defaults
	--font-primary: #141414;
	--font-secondary: #585858;
	--font-size: 20px;
	--font-height: 1.5em;
}
body {
	background-color: var(--bgc);
	font-size: var(--font-size);
	line-height: var(--font-height);
	color: var(--font-secondary);
}
.section {
	margin-top: var(--section-margin);
	margin-bottom: var(--section-margin);
	position: relative;
	&.no-mt {
		margin-top: 0;
	}
}
.banner {
	position: relative;
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
	background-size: cover;
	background-position: center;
}
.heading {
	font-size: 2rem;
	line-height: normal;
	margin-bottom: var(--heading-margin);
}
.items-container :last-child {
	margin-bottom: 0;
}
img, source {
	max-width: 100%;
	object-fit: contain;
}
p {
	margin: 0;
	margin-bottom: 1em;
}
ul {
	margin: 0;
	padding: 0;
	margin-bottom: 1em;
	list-style: none;
	li {
		margin-bottom: 1em;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 1em;
}
.btn {
	// min-width: 200px;
	max-width: 100%;
	display: inline-block;
	padding: 15px 20px;
	font-size: 16px;
	line-height: 1.5em;
	font-weight: 500;
	text-align: center;
	background-color: transparent;
	border: 1px solid white;
	transition: .3s;
	color: white;
	&:hover {
		text-decoration: none;
		color: var(--font-color);
		opacity: .8;
	}
	&:focus {
		box-shadow: none;
	}
}
// default style END