<div class="form-popup default-form-popup">
  <div class="form-popup__title">Title</div>
  <form class="form">
    <label class="form__item">
      <span class="default-label">label</span>
      <input type="text" class="default-input">
    </label>
    <label class="form__item">
      <span class="default-label">label</span>
      <input type="text" class="default-input">
    </label>
    <div class="form__item form__item--submit">
      <input type="submit" class="btn form__submit">
    </div>
  </form>
</div>