<form class="form">
  <div class="form__item">
    <input type="text" name="name" placeholder="Имя*" required="required" class="default-form__input default-input">
  </div>
  <div class="form__item">
    <input type="phone" name="phone" placeholder="Телефон*" required="required" class="default-form__input default-input phone-mask">
  </div>
  <div class="form__item form__item--submit">
    <div class="form__agreement agreement">
      <label class="form__checkbox default-checkbox">
        <input type="checkbox" class="default-checkbox__input">
        <span class="default-checkbox__checkbox"></span>
      </label>
      <div class="agreement__text">
        Я согласен на <a href="#" class="agreement__link">обработку персональных данных</a>
      </div>
    </div>
    <input type="submit" class="btn form__submit" value="отправить">
  </div>
</form>