<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="libs/bootstrap/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="libs/swiper/swiper-bundle.min.css">
<link rel="stylesheet" type="text/css" href="libs/lightbox/jquery.fancybox.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">

<script src="libs/jquery/jquery.min.js"></script>
<script src="libs/swiper/swiper-bundle.min.js"></script>
<script src="libs/imask/imask.min.js"></script>
<script src="libs/lightbox/jquery.fancybox.min.js"></script>
<script src="js/main.js"></script>