// margins
$sectionMargin: 100px;
$sectionPadding: 100px;
$headingMargin: 40px;

// default colors
// $color1: white;

// font defaults
$colorPrimary: #141414;
$colorSecondary: #585858;
$thirdColor: #ADB4BA;