// header START
.header {
  .desktop-header {
    .header-nav {
      ul {
        display: flex;
        align-items: center;
        margin-bottom: 0;
      }
      li {
        margin-bottom: 0;
        line-height: 0;
      }
      a {

      }
    }
  }
  .mobile-header {
    display: none;
  }
  &__burger {
    position: relative;
    width: 40px;
    height: 24px;
    cursor: pointer;
    // margin-right: 70px;
    span {
      position: absolute;
      left: 0;
      top: 0;
      transition: .3s;
      width: 100%;
      height: 3px;
      background-color: #5A5A5A;
      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }
      &:nth-child(3) {
        top: 100%;
        transform: translateY(-100%);
      }
    }
    &.toggled {
      span {
        top: 50%;
        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          width: 100%;
          transform: rotate(-45deg);
        }
      }
    }
  }
  @media (max-width: 991.98px) {
    .desktop-header {
      display: none;
    }
    .mobile-header {
      display: block;
    }
  }
}
// header END