:root {
  // margins
  --section-margin: 100px;
  --section-padding: 100px;
  --heading-margin: 40px;

  // colors
  --color1: white;

  // text colors
  --color-primary: #141414;
  --color-secondary: #585858;
}